<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <!-- See https://github.com/nlog/nlog/wiki#configuration-reference for more information on this file -->

  <extensions>
    <add assembly="NLog.Targets.Pushover" />
  </extensions>

  <targets>
    <target name="pushover" xsi:type="Pushover" layout="${logger}::${message}"
            subject="Message from NLog on ${machinename}"
            suplementaryURL="http://google.com"
            suplementaryURLTitle="Test"
            applicationKey="TESTtestTESTtestTESTtestTESTte"
            userOrGroupName="USERgroupUSERgroupUSERgroupUSE"
            deviceName="DEVICEdeviceDEVICEdeviceD"
            encoding="us-ascii"
            html="true">
      <priority-rule condition="level == LogLevel.Info"
                     priority="High"
                     sound="Echo"
                     suplementaryURL="http://examle.com"
                     suplementaryURLTitle="Foo bar"
                     userOrGroupName="UoGuOgUoGuOgUoGuOgUoGuOgUoGuOg" />
      <priority-rule condition="level == LogLevel.Fatal"
                     priority="Emergency"
                     sound="Echo"
                     suplementaryURL="http://github.com"
                     suplementaryURLTitle="Foo bar"
                     retryIntervalSeconds="99"
                     retryPeriodSeconds="666"
                     retryCallbackURL="http://callback.org"
                     subject="PANIC!!" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="pushover" />
  </rules>
</nlog>